# Exclude node_modules but keep it for local usage
node_modules
logs

# Ignore local environment files
# .env
# .env.local

.npm

# Ignore Docker-related files (if they shouldn't be copied to the image)
docker-compose.yml
docker-compose.*.yml
Dockerfile
Dockerfile.*

# Ignore log files
*.log

# Ignore temporary files and directories from the OS or editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Ignore build artifacts
dist
build

# Ignore coverage files
coverage/

# Ignore test-related artifacts
*.test.*
*.spec.*

# Ignore dependency lock files (optional, if you'd like to regenerate them)
package-lock.json

uploads


.git
.gitignore
.config

yarn.lock