<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request OTP for Reset Password</title>
    <style>
        * {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.5;
        }
    </style>
</head>

<body style="max-width: 600px; margin: 30px auto;">
    <table style="width:100%">
        <tr>
            <td></td>
            <td align="right" style="font-size: 20px; font-weight: bold;">Finance App</td>
        </tr>
    </table>
    <p>Dear {{data.user.first_name}} {{data.user.last_name}},</p>
    <br />

    <div>We have received your request to reset your password for your account.</div>
    <div>To continue with the password reset process, please copy or use OTP code below :</div>
    <div>This otp will expire after {{data.user.reset_token_expired}}.</div>
    <br />
    <div style="font-size:20px; font-weight: bold; color: blue; overflow-wrap: break-word;">
        {{data.user.reset_token_code}}
    </div>

    <br />
    <div>If you did not initiate this request or believe it was in error, you can simply disregard this email.</div>

    <br />
    <div style="font-size: 13px;">If you need more recollection on the content of this email please contact us at {{data.customer_phone}} or Support customer email {{data.customer_email}}</div>

    <br />
    <br />

    <div>Finance Team</div>
    <br />
    <br />

    <div style="font-size: 12px; color: #999; text-align: center;">
        Please note that this email is for sending purposes only, and replies to this email are not monitored,
        <br />for further information, please
        <br />contact us at {{data.customer_phone}} or Support customer email {{data.customer_email}}
    </div>
</body>

</html>

